save-exact=true

# required by npm publish
email=ndla@knowit.no

# Generated with $ echo -n 'user:password'|openssl base64
_auth=bmRsYTo3YldaeHY5Q016YnNYbkg=

registry=https://nexus.knowit.no/nexus/content/groups/ndla/
always-auth=true

git-tag-verison=true
