
.c-zendesk__button {
  position: fixed;
  right: 2rem;
  bottom: 5.5rem;
  border: 2px solid var(--blue-1);
  background-color: white;
  color: var(--blue-1);
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  opacity:0;
  visibility: hidden;
  &:hover,
  &:focus {
    color: white;
    background-color: var(--blue-1);
    border: 2px solid var(--blue-1);
    border-radius: 3px;
  }

  &--open {
    opacity: 1;
    visibility: visible;
    animation: fadein 1s;
  }

  &--hidden {
    opacity:0;
    visibility: hidden;
    animation: fadeout 1s;

  }
}

.zEWidget-launcher {
  display: none;
}




@keyframes fadein {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
        visibility: visible;
    }
    to {
        opacity:0;
        visibility: hidden;
    }
}
