.ex-gray { padding: 5px; margin: 0; }
.ex-gray-1  { color: rgb(196, 196, 196); background-color: rgb(34, 34, 34); }
.ex-gray-2  { color: rgb(214, 214, 214); background-color: rgb(68, 68, 68); }
.ex-gray-3  { color: rgb(222, 222, 222); background-color: rgb(77, 77, 77); }
.ex-gray-4  { color: rgb(242, 242, 242); background-color: rgb(102, 102, 102); }
.ex-gray-5  { color: rgb(255, 255, 255); background-color: rgb(121, 121, 121); }
.ex-gray-6  { color: rgb(255, 255, 255); background-color: rgb(136, 136, 136); }
.ex-gray-7  { color: rgb(46, 46, 46); background-color: rgb(216, 216, 216); }
.ex-gray-8  { color: rgb(48, 48, 48); background-color: rgb(221, 221, 221); }
.ex-gray-9  { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.ex-gray-10 { color: rgb(54, 54, 54); background-color: rgb(234, 234, 234); }
.ex-gray-11 { color: rgb(54, 54, 54); background-color: rgb(238, 238, 238); }
.ex-gray-12 { color: rgb(59, 59, 59); background-color: rgb(248, 248, 248); }


/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 3.125em 0 0;
  color: rgb(34, 34, 34);
  background-color: rgb(248, 248, 248);
}

a:link, a:visited {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: #20588f;
  font-size: 1em;
}

a:hover, a:active {
  color: rgb(33, 50, 66);
}

p {
  line-height: 1.625em;
  font-size: 16px;
  color: rgb(77, 77, 77);
}

h1, h2, h3 {
  font-family: 'Signika', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
input[type=text], select {
  border: 1px solid rgb(230, 230, 230);
  border-radius: .313em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: rgb(68, 68, 68);
}

input[type=text]:focus, select:focus {
  outline: none;
}

input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

input[type=text]:focus {
  border-color: #20588f;
  box-shadow: 0 0 6px rgba(32, 88, 143, 0.2);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

label {
  display: block;
  margin: 1em 0 .5em 0em;
}

button, input[type=submit], input[type=button] {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 1.1em;
  border: none;
  border-radius: .5em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .8em;
  color: white;
  background-color: rgb(136, 136, 136);
  cursor: pointer;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: rgb(104, 104, 104);
  color: white;
}

button {
  background-color: #20588f;
}

button:hover {
  background-color: rgb(33, 50, 66);
  color: white;
}
.cta-link {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #20588f;
}

.cta-link--text{
	color: #20588f;
}

.cta-link:link, .cta-link:visited {
  background-color: #20588f;
  color: white;
  text-decoration: none;
}

.cta-link:hover, .cta-link:active {
  background-color: rgb(33, 62, 92);
  border: 2px solid rgb(33, 62, 92);
}

.cta-link--negative {
  border: 2px solid white;
  background-color: white;
  color: #20588f;
}

.cta-link--negative:hover, .cta-link--negative:active {
  color: white;
  border: 2px solid rgb(33, 62, 92);
  background-color: rgb(33, 62, 92);
}

.cta-link--secondary:link, .cta-link--secondary:visited {
  background-color: transparent;
  color: #20588f;
}

.cta-link--secondary-negative:link, .cta-link--secondary-negative {
  border: 2px solid white;
  color: white;
}

.cta-link--secondary:hover, .cta-link--secondary:active {
  color: white;
  border: 2px solid rgb(33, 62, 92);
  background-color: rgb(33, 62, 92);
}


.cta-link--block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.cta-link--gl:link, .cta-link--gl:visited {
	background-color: #f44336;
	border: none;
}

.cta-link--gl:hover, .cta-link--gl:active {
	background-color: rgb(194, 63, 54);
	border: none;
}

.cta-link--fb:link, .cta-link--fb:visited {
	background-color: #3b5998 ;
	border: none;
}

.cta-link--fb:hover, .cta-link--fb:active {
	background-color: rgb(59, 72, 102);
	border: none;
}

.cta-link--tw:link, .cta-link--tw:visited {
	background-color: #0084b4;
	border: none;
}

.cta-link--tw:hover, .cta-link--tw:active {
	background-color: rgb(0, 95, 130);
	border: none;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 1em;
  vertical-align: bottom;
}

.icon--m {
  font-size: 1.5em;
}

.icon--l {
  font-size: 2em;
}

.icon--gray {
  color: rgb(136, 136, 136);
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
.logo {
  margin-left: 1em;
}

.logo_img {
  height: 15px;
}
.page-header {
  color: white;
  background-color: #20588f;
  padding: 2em 1em 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header_name {
  font-weight: normal;
  font-size: 1.6em;
}
.tile {
  width: 22%;
  margin: 1.5% 1.5% 1em;
  padding: 1em 2.5em 3.5em 2.5em;
  background-color: white;
  min-height: 23em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

@media (max-width: 1450px) {
  .tile {
    width: 30%;
    margin: 1.655555% 1.655555% 1em;
  }
}
.learning-path_bd {
  max-width: 700px;
}

.learning-path_meta {
  font-size: 0.7em;
  line-height: 1.6em;
  color: rgb(102, 102, 102);
}
.learning-step {
  height: 100%;
}

.learning-step_embeded {
  width: 100%;
  height: 100%;
  border: 0 none;
}
.masthead {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 3.125em;
  padding: 10px 0 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 640px) {
  .masthead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 920px;
  padding: 2em 0;
  margin: 0 auto;
}

.search-form--dark {
  color: white;
  background-color: #20588f;
}

input[type=text].search-form_query {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  height: 3.5em
}

input[type=text].search-form_query:focus { box-shadow: none; }

.search-form--dark input[type=text].search-form_query:focus { border-color: white; }

.search-form_btn {
  margin-left: -4.5em
}

.search-form--dark .search-form_btn { border: 3px solid white; }

.search-form_sort-order {
  margin-left: 1em;
  min-width: 6em;
  height: 3.5em;
}
.search-list--meta{
	margin-left: -.5em;
	border-radius: 3em;
	font-size: 0.8em;
}
.search-results {
  padding: 2em 0 10em;
  max-width: 920px;
  margin: 0 auto;
}

.search-result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 1em 1em 0;
  padding: 0 0 3em 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.search-result_img {
  margin-top: 1.5em;
  max-height: 200px;
}

.search-result_bd {
  padding: .5em 2em;
}

.search-result_title {
  margin-bottom: .2em
}

.search-result_meta {
  font-size: .9em;
}

.search-result_author, .search-result_changed-date, .search-result_duration {
  display: inline-block;
  margin-right: .5em;
}
.site-nav{
  margin-right: 1em;
}

.site-nav_list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav_item {
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
}

.site-nav_link:link, .site-nav_link:visited {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

.site-nav_link:hover, .site-nav_link:active {
  text-decoration: underline;
}

.site-nav_bt {
  padding: .5em;
}

@media (max-width: 640px) {
  .site-nav_item {
    display: list-item;
    padding: 1em;
  }
}

.step-nav_learningpath-general-info{
  background-color: white;
  padding: 2em 1em 2em 0.5em;
  text-align: center;
  margin-right: 1.9em;
  background-color: rgb(238, 238, 238);
}


.step-nav_h {
  margin-bottom: .5em;
}

.step-nav_meta {
  color: rgb(136, 136, 136);
  font-size: 0.9em;
}

.step-nav_author, .step-nav_changed-date, .step-nav_duration {
  display: inline-block;
  margin-right: .5em;
}

.step-nav_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.step-nav_item {
  padding: 0 0 0 2em;
  margin: 2px 0;
}

.step-nav_item:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  margin-top: -3.9em;
  border-style: solid;
  border-color: transparent;
  border-width: 1.95em 0 1.95em 2em;
}

.step-nav_link {
  display: block;
  position: relative;
  right: 2em;
  line-height: 1.2em;
  min-height: 3.9em;
  padding: 1.5em .5em .5em 3em;
}

.step-nav_link:link, .step-nav_link:visited {
  text-decoration: none;
  color: rgb(121, 121, 121);
}

.step-nav_link:hover, .step-nav_link:active {
  color: #20588f;
}


.step-nav_item.step-nav_item--active:after {
  border-left-color: rgb(234, 234, 234);
}

.step-nav_item--active .step-nav_link {
  background-color: rgb(234, 234, 234);
}
.tiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 3em 5em;
  max-width: 1700px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .tiles {
    padding: 3em 2em;
  }
}
.vertical-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-menu_item {
  margin: .5em;
  padding: 0;
}
.one-column {
  margin: 0 1em;
  padding-top: 2em;
}

.one-column--narrow {
  max-width: 300px;
  margin: 0 auto;
}
.two-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.two-column_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-column_col:nth-child(1) {
  -webkit-flex-basis: 330px;
      -ms-flex-preferred-size: 330px;
          flex-basis: 330px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: -webkit-linear-gradient(right, white 0, white 2em, transparent 2em, transparent 100%);
  background: linear-gradient(to left, white 0, white 2em, transparent 2em, transparent 100%);
  position: relative;
}


.two-column_col:nth-child(2) {
  -webkit-flex-basis: 770px;
      -ms-flex-preferred-size: 770px;
          flex-basis: 770px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 7;
      -ms-flex-negative: 7;
          flex-shrink: 7;
  padding: 4% 10%;
  background-color: white;
}

