:root { /* use --blue-1 */ /* use --gray-2 */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 4em 0 0;
  color: #222;
  background-color: #f8f8f8;
}

a:link, a:visited {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: #20588f;
  font-size: 1em;
}

a:hover, a:active {
  color: rgb(33, 50, 66);
}

p {
  line-height: 1.625em;
  font-size: 16px;
  color: #4D4D4D;
}

h1, h2, h3 {
  font-family: 'Signika', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
.cta-link {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #20588f;
}

.cta-link--text{
	color: #20588f;
}

.cta-link:link, .cta-link:visited {
  background-color: #20588f;
  color: white;
  text-decoration: none;
}

.cta-link:hover, .cta-link:active {
  background-color: rgb(33, 62, 92);
  border: 2px solid rgb(33, 62, 92);
}

.cta-link--negative {
  border: 2px solid white;
  background-color: white;
  color: #20588f;
}

.cta-link--negative:hover, .cta-link--negative:active {
  color: white;
  border: 2px solid rgb(33, 62, 92);
  background-color: rgb(33, 62, 92);
}

.cta-link--secondary:link, .cta-link--secondary:visited {
  background-color: transparent;
  color: #20588f;
}

.cta-link--secondary-negative:link, .cta-link--secondary-negative {
  border: 2px solid white;
  color: white;
}

.cta-link--secondary:hover, .cta-link--secondary:active {
  color: white;
  border: 2px solid rgb(33, 62, 92);
  background-color: rgb(33, 62, 92);
}



.cta-link--gl:link, .cta-link--gl:visited {
	background-color: #F44336;
	border: none;
}

.cta-link--gl:hover, .cta-link--gl:active {
	background-color: rgb(194, 63, 54);
	border: none;
}

.cta-link--fb:link, .cta-link--fb:visited {
	background-color: #3b5998 ;
	border: none;
}

.cta-link--fb:hover, .cta-link--fb:active {
	background-color: rgb(59, 72, 102);
	border: none;
}

.cta-link--tw:link, .cta-link--tw:visited {
	background-color: #0084b4;
	border: none;
}

.cta-link--tw:hover, .cta-link--tw:active {
	background-color: rgb(0, 95, 130);
	border: none;
}
.logo {
  margin-top: 0.7em;
}

.logo_img {
  height: 20px;
}
.page-header {
  color: white;
  background-color: #20588f;
  padding: 2em 1em 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header_name {
  font-weight: normal;
  font-size: 1.6em;
}
.tile {
  width: 22%;
  margin: 1.5% 1.5% 1em;
  padding: 1em 2.5em 3.5em 2.5em;
  background-color: white;
  min-height: 23em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

@media (max-width: 1450px) {
  .tile {
    width: 30%;
    margin: 1.655555% 1.655555% 1em;
  }
}
.masthead {
  padding: 1em 2em 0;
  width: 100%;
  min-height: 4em;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.masthead_left { }

.masthead_center { }

.masthead_right { }

@media (max-width: 640px) {
  .masthead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.site-nav_list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav_item {
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
}

.site-nav_link:link, .site-nav_link:visited {
  color: #222;
  text-decoration: none;
}

.site-nav_link:hover, .site-nav_link:active {
  text-decoration: underline;
}

.site-nav_bt {
  padding: .5em;
}

@media (max-width: 640px) {
  .site-nav_item {
    display: list-item;
    padding: 1em;
  }
}
.tiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 3em 5em;
  max-width: 1700px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .tiles {
    padding: 3em 2em;
  }
}

button, input[type=submit], input[type=button]{
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 1.1em;
  border: none;
  border-radius: .5em;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: .8em;
  color: white;
  background-color: #888888;
}

button:hover, input[type=submit]:hover, input[type=button]:hover{
	background-color: rgb(104, 104, 104);
	color: white;
}

button{
	background-color: #20588f;
}

button:hover{
	background-color: rgb(33, 50, 66);
	color: white;
}

input[type=text], select {
  border: 1px solid #e6e6e6;
  border-radius: .313em;
  background: #ffffff;
  min-height: 1.5em;
  font-size: 1em;
}

input[type=text]:focus, select:focus {
  outline: none;
}

input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

input[type=text]:focus {
  border-color: #20588F;
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

label{
  display: block;
  margin: 1em 0em .5em 0em;
}
.learning-path-wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}

.learning-path-content{
	-webkit-flex-basis: 800px;
	    -ms-flex-preferred-size: 800px;
	        flex-basis: 800px;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
	-webkit-flex-shrink: 7;
	    -ms-flex-negative: 7;
	        flex-shrink: 7;
	padding: 4% 10%;
	background-color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
}

.learning-path_bd{
	max-width: 700px;
}

.learning-path-primary-nav {
	-webkit-flex-basis: 300px;
	    -ms-flex-preferred-size: 300px;
	        flex-basis: 300px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	background-color: red;
	background-color: #f8f8f8;
	padding-left: 1em 0em 0em 0em;
	padding-top: 40px;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;	
}


.learning-path-primary-nav ul {
	padding: 0px;
	margin: 0px;
}

.learning-path-primary-nav li {
    list-style: none;
    position: relative;
    z-index: 1;
    list-style-position: inside;
}

.learning-path-primary-nav li a{
	display: block;
	padding: 1.5em 1em 1.5em 5em;
	line-height: 1.2em;
	background-size: 9%;
	text-decoration: none;
	color: #797979;
}

.learning-path-primary-nav li a:hover{
	background-color: #eaeaea;
	z-index: -30;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.learning-path-primary-nav li:before{
	content: "";
	border-left: 2px solid #797979;
	position: absolute;
	left: 47px;
	height: 100%;
	z-index: -1;
	top: 0;
}

.learning-path-primary-nav a:after{
	content: "";
	border-left: 2px solid #797979;
	position: absolute;
	left: 33px;
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50px;
	border: 3px solid #797979;
	z-index: 1;
	top: 19px;
}


.learning-path-primary-nav li:last-child:before{
	height: 50%;
}

.learning-path-primary-nav li:first-child:before{
	height: 100%;
	top: 30px;
}

.learning-path-primary-nav h3{
	margin-left: 35px;
}

.learning-path_meta{
	font-size: 0.7em;
	line-height: 1.6em;	
	color: #666;
}
#login{
  text-align: center;
  padding-top: 3em;
  max-width: 300px;
  margin: 0 auto;
}

#login ul{
  padding: 0px;
}

#login ul li{
  list-style: none;
}

#login ul li a.cta-link {
  display: inline-block;
  width: 100%;
  margin-top: 1em;
}
